@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply relative z-[1] inline-block px-6 py-3 text-base text-white transition-colors sm:text-xl sm:px-8 sm:py-4;
        &:before, &:after{
            content: ' ';
            @apply absolute inset-0 z-10 transition-opacity size-full;
        }
        
        &:after{
            @apply bg-gradient-to-r from-[#4568DC] to-[#B06AB3] z-[-2];
        }

        &:before{
            @apply bg-gray-600 z-[-1];
        }

        &:hover:before{
            opacity:0;
        }
    }

    .btn-sm{
        @apply px-4 py-3 text-base;
    }


    code{
        @apply p-1 bg-gray-200;
        font-family: monospace; 
        font-weight:400;
        &::before,&::after{
            content: '' !important;
        }
    }
}